body{
    margin: 0 50px 0 50px;
}

.slide_in{
    margin-top: 10vh;
    max-width: 40vw;
    background-color: bisque;
    line-height: 20px;
    font-size: 2vh;
    animation: slideMe;
    animation-duration: 5s;
}

@keyframes slideMe {
    from {opacity: 0;}
    to {background-color: yellow;}
  }
